<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Nueva Reserva')"></head>
<body class="bg-dark text-white">
  <div th:replace="fragments :: header"></div>
  <div th:replace="fragments :: nav"></div>

  <div class="container w-50">
    <h2>Nueva Reserva</h2>
    <form th:object="${reserva}" th:action="@{/reservas/guardar}" method="post">
      <div class="mb-3">
        <label class="form-label">Función</label>
        <select th:field="*{funcion.id}" class="form-select" required>
          <option value="" disabled selected>-- selecciona --</option>
          <option th:each="f : ${funciones}"
                  th:value="${f.id}"
                  th:text="|${#temporals.format(f.fechaHora,'dd/MM/yyyy HH:mm')} – ${f.pelicula.titulo}|">
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Entradas</label>
        <input th:field="*{cantidadEntradas}"
               type="number"
               min="1"
               class="form-control"
               required/>
      </div>
      <button type="submit" class="btn btn-primary">Reservar</button>
    </form>
  </div>

  <div th:replace="fragments :: footer"></div>
  <div th:replace="fragments :: scripts"></div>
</body>
</html>
