<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Formulario Película')"></head>
<body class="bg-dark text-white">
  <div th:replace="fragments :: header"></div>
  <div th:replace="fragments :: nav"></div>

  <div class="container w-50">
    <h2 class="mb-4"
        th:text="${pelicula.id} != null ? 'Editar Película' : 'Nueva Película'">
      Nueva Película
    </h2>
    <form th:object="${pelicula}"
          th:action="@{/peliculas/guardar}"
          method="post">

      <!-- ID oculto si existe -->
      <input type="hidden"
             th:if="${pelicula.id}"
             th:field="*{id}" />

      <!-- Título -->
      <div class="mb-3">
        <label class="form-label">Título</label>
        <input th:field="*{titulo}"
               class="form-control"
               placeholder="Ingrese el título"
               required/>
      </div>

      <!-- Duración -->
      <div class="mb-3">
        <label class="form-label">Duración (min)</label>
        <input th:field="*{duracion}"
               type="number"
               min="1"
               class="form-control"
               placeholder="Duración en minutos"
               required/>
      </div>

      <button type="submit"
              class="btn btn-primary">
        Guardar
      </button>
    </form>
  </div>

  <div th:replace="fragments :: footer"></div>
  <div th:replace="fragments :: scripts"></div>
</body>
</html>
